<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577487788542-eeu6ls0vgn10rqkaq8jnkd71l29njp2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577487788542-eeu6ls0vgn10rqkaq8jnkd71l29njp2k</string>
	<key>API_KEY</key>
	<string>AIzaSyAdU9Op5ySYUXY7z36EEopGDJpQAl-NZ3U</string>
	<key>GCM_SENDER_ID</key>
	<string>577487788542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ff55</string>
	<key>PROJECT_ID</key>
	<string>alzheimerdostu</string>
	<key>STORAGE_BUCKET</key>
	<string>alzheimerdostu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577487788542:ios:921150721360793fe588af</string>
</dict>
</plist>